#include "common" // file 'common.xcconfig'

ARCHS				= $(NATIVE_ARCH)
ZERO_LINK			= YES
COPY_PHASE_STRIP	= NO

GCC_OPTIMIZATION_LEVEL			= 0
GCC_DYNAMIC_NO_PIC				= NO
GCC_GENERATE_DEBUGGING_SYMBOLS	= YES
GCC_ENABLE_FIX_AND_CONTINUE		= YES

//GCC_PREPROCESSOR_DEFINITIONS = DEBUG $(GCC_PREPROCESSOR_DEFINITIONS)
