// 'common.xcconfig' -- a set of common XCode configration settings
// shared by all targets.

App_Version					= 2.00b4

PRODUCT_NAME				= Catakig
WRAPPER_EXTENSION			= app

//ALWAYS_SEARCH_USER_PATHS	= NO
	// Apple recommends this setting, but we can't use it yet.

INFOPLIST_FILE					= Info.plist
GCC_PRECOMPILE_PREFIX_HEADER	= YES
GCC_PREFIX_HEADER				= Source/Prefix.pch
GCC_PFE_FILE_C_DIALECTS			= c objective-c
PREBINDING						= NO

GCC_INPUT_FILETYPE				= sourcecode.c.objc
	// "Compile Sources as": automatic, sourcecode.c.objc

GCC_C_LANGUAGE_STANDARD			= c99
GCC_ENABLE_OBJC_EXCEPTIONS		= YES
//GCC_STRICT_ALIASING				= YES

//GCC_VERSION		= 4.0
GCC_VERSION_ppc		= 4.0 // 3.3?
GCC_VERSION_i386	= 4.0

//SDKROOT		= /Developer/SDKs/MacOSX10.3.9.sdk
SDKROOT_ppc		= /Developer/SDKs/MacOSX10.3.9.sdk
SDKROOT_i386	= /Developer/SDKs/MacOSX10.4u.sdk

//MACOSX_DEPLOYMENT_TARGET		= 10.3
MACOSX_DEPLOYMENT_TARGET_ppc	= 10.3
MACOSX_DEPLOYMENT_TARGET_i386	= 10.4

OTHER_LDFLAGS = -lz -lbz2
//OTHER_LDFLAGS = -flag1 -flag2 $(OTHER_LDFLAGS_$(CURRENT_ARCH)) 
//OTHER_LDFLAGS_ppc = -ppc_specific_flag 
//OTHER_LDFLAGS_i386 = -intel_specific_flag 

//OTHER_CFLAGS_i386 = -fobjc-direct-dispatch

// ==== Warnings ====

GCC_WARN_UNUSED_VARIABLE			= NO
GCC_WARN_ABOUT_RETURN_TYPE			= YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES	= YES
//GCC_WARN_SIGN_COMPARE				= YES
